<settings>
  <category label="latinosvip">
       <setting id="Updatecommonresolvers" label="Update Commonresolver from Genesis" type="bool" default="false" visible="false"/>
    	<setting type="lsep" label="Versión del Addon Actualizado 04/05/2016" option="close" action="RunPlugin(plugin://latinosvip/?mode=7)" />
		<setting id="ask_playlist_items" type="bool" label="Elegir Fuente de Video" default="false" visible="false"/>
        <setting id="add_playlist" type="bool" label="Activar Multilink" default="false" visible="false"/>
        <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Play IMDBid with:" default="Genesis" visible="false"/>
        <setting id="donotshowbychannels" label="Ocultar Canales" type="bool" default="false" visible="false"/>
 </category>
</settings>
